* {
    box-sizing: border-box;
}

body {
  font-family: 'Neucha', cursive, serif;
  font-size: 18px;
  background: url(../images/lined_paper-texture.jpg);
}

h1,h3{
  text-align: center;
}

.panel{
  height: 200px;
}